<template>
  <div class="container">
    <Breadcrumb :items="['menu.{{className}}', 'menu.{{className}}.page']" />

    <ACard class="general-card" :title="$t('menu.{{className}}.page')">
        <form-create
          v-model="value"
          v-model:api="fApi"
          :rule="rule"
          :option="option"
        ></form-create>
    </ACard>

  </div>  
</template>

<script lang="ts" setup>
import { onMounted } from 'vue'  
import { fApi, value, option, rule } from './{{className}}.page.schema';

import page{{className}} from './{{className}}.api';

onMounted(async () => {
  const res = await page{{className}}({
    current: 1, 
    pageSize: 20
  });
  console.log(res)
})
</script>

<script lang="ts">
  export default {
    name: '{{className}}',
  };
</script>

<style scoped lang="less">
  .container {
    height: calc(100% - 40px);
    padding: 0 20px 20px 20px;
  }
</style>
