import axios from 'axios';
import qs from 'query-string';

export default function page{{className}}(params: any) {
  return axios.get<any>('/api/{{className}}/page', {
    params,
    paramsSerializer: (obj) => {
      return qs.stringify(obj);
    },
  });
}

